@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-border {
    border-color: hsl(var(--border));
  }
  .bg-background {
    background-color: hsl(var(--background));
  }
  .text-foreground {
    color: hsl(var(--foreground));
  }
  .bg-card {
    background-color: hsl(var(--card));
  }
  .text-card-foreground {
    color: hsl(var(--card-foreground));
  }
}
@layer base {
  :root {
    --background: 220 20% 96%; /* custom-light-gray */
    --foreground: 210 23% 24%; /* custom-dark-blue */
    --card: 220 20% 96%; /* custom-light-gray */
    --card-foreground: 210 23% 24%; /* custom-dark-blue */
    --popover: 220 20% 96%; /* custom-light-gray */
    --popover-foreground: 210 23% 24%; /* custom-dark-blue */
    --primary: 210 23% 24%; /* custom-dark-blue */
    --primary-foreground: 220 20% 96%; /* custom-light-gray */
    --secondary: 300 4% 71%; /* custom-gray */
    --secondary-foreground: 210 23% 24%; /* custom-dark-blue */
    --muted: 300 4% 71%; /* custom-gray */
    --muted-foreground: 210 23% 24%; /* custom-dark-blue */
    --accent: 20 19% 56%; /* custom-brown */
    --accent-foreground: 220 20% 96%; /* custom-light-gray */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 300 4% 71%; /* custom-gray */
    --input: 300 4% 71%; /* custom-gray */
    --ring: 20 19% 56%; /* custom-brown */
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 23% 24%; /* custom-dark-blue */
    --foreground: 220 20% 96%; /* custom-light-gray */
    --card: 210 23% 24%; /* custom-dark-blue */
    --card-foreground: 220 20% 96%; /* custom-light-gray */
    --popover: 210 23% 24%; /* custom-dark-blue */
    --popover-foreground: 220 20% 96%; /* custom-light-gray */
    --primary: 220 20% 96%; /* custom-light-gray */
    --primary-foreground: 210 23% 24%; /* custom-dark-blue */
    --secondary: 300 4% 71%; /* custom-gray */
    --secondary-foreground: 220 20% 96%; /* custom-light-gray */
    --muted: 300 4% 71%; /* custom-gray */
    --muted-foreground: 220 20% 96%; /* custom-light-gray */
    --accent: 20 19% 56%; /* custom-brown */
    --accent-foreground: 210 23% 24%; /* custom-dark-blue */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 300 4% 71%; /* custom-gray */
    --input: 300 4% 71%; /* custom-gray */
    --ring: 20 19% 56%; /* custom-brown */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
